body {
  min-height: 100vh;
  background-image: url(/background.svg);
  background-size: 100%;
  background-attachment: fixed;
}

.pixsoil {
  font-family: 'Oleo Script', cursive;
  font-size: 5rem;
  color: #815115;
  margin: 4rem auto;
}

.mobile {
  position: relative;
  display: inline-block;
}

.mobile video {
  width: 220px;
  position: absolute;
  top: 10px;
  left: 9px;
}

.mobile .frame {
  width: 243px;
  height: 510px;
  position: absolute;
  top: 0;
  left: 0;
}